th, td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color: #e99bde;
    color: white;
  }
  button {
    background-color: #e99bde;
    color: black !important;
}