<h1 style="text-align:center;color:rebeccapurple">Details for {{data.result.name}}</h1>
<br>
<div *ngIf="user !== undefined">
<h5>Click on the button to add {{data.result.name}} to your Favorite List!!</h5>
<button type="button" (click)="addFavorite()">Add Favorite</button>
</div>
<div *ngIf="user === undefined">
    <p>Log in to save as a favorite.</p>
</div>
<br>
<p>Address: {{data.result.vicinity}} <br />
Website: <a href="{{data.result.website}}">Click here!</a></p>

<h3>Overall User Rating: {{data.result.rating}}</h3>
<br>
<h3>User Reviews</h3>
<div *ngIf="data?.result.reviews?.length > 0">
    <li *ngFor="let review of data.result.reviews" >
    
            Author Name: {{review.author_name}}<br />
            Rating: {{review.rating}}<br />
            Review: {{review.text}}<br />
       
   </li>
   </div>
<div *ngIf="data?.result.photos?.length > 0" class="row">
    <h3>Photos:</h3>
    <div *ngFor="let photo of data.result.photos" class="column">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference={{photo.photo_reference}}&key={{data.apiKey}}" />
    </div>
</div>
<br>
<div>
<button onclick="window.history.back()">Go Back</button>
</div>
